p {
    color: white;
  text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotating-tomato {
    animation: spin 5s linear infinite; /* 3초 동안 한 바퀴 회전, 무한 반복 */
  }

  .rotating-tomato2 {
    animation: spin 10s linear infinite; /* 3초 동안 한 바퀴 회전, 무한 반복 */
  }

  .rotating-tomato3 {
    animation: spin 20s linear infinite; /* 3초 동안 한 바퀴 회전, 무한 반복 */
  }